* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro";
}

.container {
    max-width:800px;
    margin:auto;
    margin-top:40px;
    padding:20px;
}

.main-header {
    & h1 {
        margin:0;
        paddin:0;
        font-weight:normal;
        text-decoration:none;
        border-bottom: 2px solid black;
    }
}

.primary-container{
    & .primary-header {
        font-weight: normal;
    }
}

.project-sum-container {
    padding:0 px;
    list-style: none;
    margin-bottom:16px;
    .project-sum-header{
        h3{
            font-weight:normal;
            font-size: 32px;
            padding:0;
            margin:0;
            display: inline-block;
        }
        .arrow-button{
            color:#000;
            text-decoration:none;
            font-size:32px;
            display:inline-block;
            float:right;
        }
    }
    .project-sum-details{
        p{
            padding:0;
            margin:0;
            font-size: 12px;
            color: #666;
            text-transform: uppercase;
        }
        .project-sum-delete{
            float:right;
        }
    }
    .project-edit-field{
        display:none;
    }
    &.editing{
        .view{
            display:none;
        }
        .project-edit-field{
            display:inline-block;
        }
        
    }
}

.project-edit-field {
    width:100%;
    font-size: 32px;
    border:none;
    border-bottom: 2px dashed black;
    padding-bottom:5px;
    &:focus {
        outline:none;
    }
    &::-webkit-input-placeholder{
        font-style: italic;
    }
    &::-moz-placeholder{
        font-style: italic;
    }
    &:-ms-input-placeholder{

        font-style: italic;
    }
    
}
.project-new-field {
    margin-bottom: 16px;
    
}