* {
    box-sizing: border-box;
}

body {
    background: #336;
    font-family: "Source Sans Pro";
}

.container {
    max-width:800px;
    margin:auto;
    margin-top:40px;
    background:#f9f9f9;
    padding:20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.main-header {
    & h1 {
        margin:0;
        paddin:0;
        font-weight:normal;
        text-decoration:none;
        font-family:"Francois One",sans-serif;
    }
    padding:10px;
    text-align:center;
}

.primary-container{
    & .primary-header {
        text-align:center;
        font-weight: normal;
        font-family:"Francois One",sans-serif;
    }
}

.project-sum-container {
    margin:10px;
    padding:0 px;
    border: 1px solid #eee;
    height:100px;
    list-style: none;
    .project-sum-header{
        display:inline-block;
        padding:8px;
        width:79%;
        height:100%;
        h3{
            padding:0;
            margin:0;
        }
    }
    .project-sum-details{
        display:inline-block;
        padding: 8px;
        width:20%;
        height:100%;
        text-align:right;
        p{
            padding:0;
            margin:0;
            font-size: 12px;
        }
    }
}